<section id="main_section">
    <? if($success_str){?>
        <header>
            <hgroup>
                <h1><? echo $title?></h1>
                <h2 class="success">Successful!</h2>
            </hgroup>
        </header>
        <section>
            <div class="simple">
                <?=$success_str?> 
            </div>
            <? if($link){?>
                <div class="simple">
                    <a href="<?=$link[href]?>"><h1><?=$link[text]?></h1></a>
                </div>
            <?}?>
        </section>
    <?}?>
    <header>
        <hgroup>
            <h1><? echo $title?></h1>
            <? if(!empty($error)){?><h3 class="warning"><?=$error?></h3><?}?>
        </hgroup>
    </header>
    <section id="inputs_section">
        <form method="<?=$form_method?>" action="<?=$form_action?>">
        <? foreach($inputs as $i){?>
            <? echo $page->displayVar($i)?>
        <?}?>
        </form>
    </section>
</section>
